.Main_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.Left_container{
    height: 641px;
    width: 600px;
}
.Group_style{
    background-color: rgb(247, 229, 235);
}
#learn{
    text-align: center;
    padding: 50px;
}
.Wrapper{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}
input{
    background-color: rgb(247, 243, 243);
}
.hover_item:hover{
    border-radius: 5px;
    outline: 1px solid rgb(87, 162, 206);
    display: inline-block;
    padding: 0;
    margin: 0;
    
}
input{
    border: none;
    border-radius: 5px;
    height: 56px;
    width: 250px;
}
#Textarea{
    height: 56px;
    width: 510px;
}
label{
    margin-bottom: 0;
    padding-bottom: 0;
}
.Grid_1,
.Grid_2,
.Grid_3,
.Grid_4,
.Grid_5,
.Grid_6,
.Grid_7
{
    display: flex;
    gap: 20px;

}
button{
    background-color: rgb(59, 150, 202);
    color: bisque;
    height: 56px;
    width: 510px;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
div{
    letter-spacing: 1px;
}
.gender{
    position: relative;
    display: inline-block;
}
.inp .c_select{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

}
.gender input{
    box-sizing: border-box;
}
