.profile_picture{
   
    border-radius: 1000px;
    border: 2px solid brown;
}
footer{
    color: grey;
}
audio{
    background-color: brown;
    margin: 5px;
}
.description{
    background-color: brown;
    color: burlywood;
    width: 90%;
    border-radius: 1000px;
    border: none;
    letter-spacing: 1px;
}
body{
    background-color: rgb(248, 206, 151);
}
figure{
    text-align: center;
}
.description p{
    padding-left: 5%;
    padding-top: 2%;
}
audio{
padding-left: 20%;
padding-right: 20%;
border-radius: 1000px;
color: burlywood;
}
.Image_sample{
    background-color: brown;
    border-radius: 1000px;
    
}
.embed{
   background-color: brown;
   border-radius: 1000px;
   width: 90%;
}
iframe{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0.5%;
    
}
.iframe_caption{
    color: brown;
}